body {

    background-image: url();
    background-size: 100%;
    background-repeat: no-repeat;


}


.graybox {

    border-color: whitesmoke;
    border-style: solid;
    border-width: medium;
    background-color: lightgrey;
    height: 400px;
}

.welcome {

    height: 100vh;
    background-color: white;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;

}

.message {

    border-color: whitesmoke;
    background-color: lightgrey;
    padding-top: 10%;
    text-align: center;
}

.skillLeft;

    {
    padding-top: 10%;
    border-color: whitesmoke;
    border-style: solid;
    border-width: medium;
    background-color: lightgrey;
    height: 400px;
    text-align: left;
}


.skillRight;

    {

    padding-top: 10%;
    border-color: whitesmoke;
    border-style: solid;
    border-width: medium;
    background-color: lightgrey;
    height: 400px;
    text-align: right;
}
