body {

    background-image: url();
    background-size: 100%;
    background-repeat: no-repeat;


}


.graybox {

    border-color: whitesmoke;
    border-bottom-style: solid;
    border-width: medium;
    background-color: lightgrey;
    height: 400px;
}

.welcome {

    height: 100vh;
    background-color: white;
    padding-top: 20%;
    text-align: center;



}

.message {

    border-color: whitesmoke;
    border-bottom-style: solid;
    border-width: medium;
    background-color: lightgrey;
    padding-top: 10%;
    text-align: center;
