body {
    
    background-image: url(Images/blurred.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-decoration-color: cornsilk;

}

#myHeader {
  height: 60px;
  background-color: #f1f1f1;
}
#welcome {
    
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
#skills {
    
    text-align: center;
}
#portfolio {
    
    text-align: center;
}