/*Boot strap does not handle responsive text sizing so the media queries below set sizing per viewport*/

@media (max-width: 575px) {
    .navbar-brand {
        font-size: 4.2vw;
        font-size: visibility: hidden;
    }

    .graybox {}


}

@media (min-width: 576px) {
    .graybox {
        font-size: 0.6rem;

    }

}

@media (min-width: 768px) {
    .graybox {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    .graybox {
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    .graybox {
        font-size: 1.7rem;
    }
}



body {

    background-image: url();

    background-size: 100%;
    background-repeat: no-repeat;


}



img {
    max-width: 100%;
    max-height: 100%;
}

.col-sm-6,
.col-sm-12,
.page-footer {

    margin-top: 25px;

}

.graybox {

    border-color: whitesmoke;
    padding: 50px;
    border-bottom-style: solid;
    border-width: medium;
    background-color: lightgrey;
    height: 400px;
    border-radius: 10px;

}

.welcome {

    height: 100vh;
    background-color: white;
    text-align: center;
    padding-top: 20px;



}

.message {

    border-color: whitesmoke;
    border-bottom-style: solid;
    border-width: medium;
    background-color: lightgrey;
    text-align: center;

}

.card {


    position: relative;
    z-index: 1;


}

.firstMessage {


    position: relative;
    z-index: 1;


}